---
apiVersion: operator.tekton.dev/v1alpha1
kind: TektonConfig
metadata:
  name: config
spec:
  targetNamespace: tekton-pipelines
  targetNamespaceMetadata:
    labels: {}
    annotations: {}
  profile: all
  config:
    nodeSelector: {}
    tolerations: []
    priorityClassName: system-cluster-critical
  pipeline:
    performance:
      disable-ha: false
  dashboard:
    options: {}
    readonly: false
  hub:
    options: {}
  chain:
    disabled: true
  pruner:
    disabled: true  # Components not in ready state: Invalid Pruner Configuration!! Both pruners, tektonpruner(event based) and pruner(job based) cannot be enabled simultaneously. Please disable one of them.
  result:
    disabled: true
  tektonpruner:
    disabled: false
    options: {}
  trigger:
    enable-api-fields: stable
    options: {}
  platforms:
    openshift: {}
#---
#apiVersion: networking.k8s.io/v1
#kind: Ingress
#metadata:
#  name: dashboard-ingress
#  namespace: tekton-pipelines
#  annotations:
#    ingress.cilium.io/websocket: enabled
#    ingress.cilium.io/loadbalancer-mode: shared
#    cert-manager.io/cluster-issuer: labza-ca
#    cert-manager.io/private-key-algorithm: ECDSA
#    cert-manager.io/private-key-size: "256"
#spec:
#  ingressClassName: cilium
#  rules:
#    - host: tekton.${cilium_domain}
#      http:
#        paths:
#          - path: /
#            pathType: Prefix
#            backend:
#              service:
#                name: tekton-dashboard
#                port:
#                  number: 9097
#  tls:
#    - hosts:
#        - tekton.${cilium_domain}
#      secretName: tekton-ingress-cert