---
apiVersion: operator.tekton.dev/v1alpha1
kind: TektonConfig
metadata:
  name: config
spec:
  targetNamespace: tekton-pipelines
  targetNamespaceMetadata:
    labels: {}
    annotations: {}
  profile: all
  config:
    nodeSelector: {}
    tolerations: []
    priorityClassName: system-cluster-critical
  pipeline:
    performance:
      disable-ha: false
  dashboard:
    options: {}
    readonly: false
  hub:
    options: {}
  chain:
    disabled: true
  pruner:
    disabled: true  # Components not in ready state: Invalid Pruner Configuration!! Both pruners, tektonpruner(event based) and pruner(job based) cannot be enabled simultaneously. Please disable one of them.
  result:
    disabled: true
  tektonpruner:
    disabled: false
    options: {}
  trigger:
    enable-api-fields: stable
    options: {}
  platforms:
    openshift: {}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: tekton-dashboard
  namespace: tekton-pipelines
spec:
  parentRefs:
    - name: envoy-gateway-internal
      namespace: envoy-gateway-system
  hostnames:
    - tekton.${cilium_domain}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: tekton-dashboard
          port: 9097