---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wg-portal
  namespace: wg-portal
spec:
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Service
              name: wg-portal-wireguard
            patch: |
              apiVersion: v1
              kind: Service
              metadata:
                name: wg-portal-wireguard
                labels:
                  lb.cilium.io/pool: general
