---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  values:
    global:
      tolerations:
        - key: "node-role.kubernetes.io/control-plane"
          operator: "Exists"
          effect: "NoSchedule"
        - key: "node-role.kubernetes.io/master"
          operator: "Exists"
          effect: "NoSchedule"

    persistence:
      defaultClass: false
      defaultFsType: xfs
      defaultClassReplicaCount: 1
      defaultDataLocality: best-effort
      reclaimPolicy: Retain
      dataEngine: v1

    defaultSettings:
      defaultDataPath: /var/mnt/longhorn
      storageReservedPercentageForDefaultDisk: 0
      taintToleration: node-role.kubernetes.io/control-plane=:NoSchedule; node-role.kubernetes.io/master=:NoSchedule

    image:
      longhorn:
        instanceManager:
          repository: derekbit/longhorn-instance-manager
          tag: 1.11.0-fix-leak@sha256:1ba4526862acce68253f848ae33ce590b8ed1443119519f49c009ae66a74902b