---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Include cluster apps which are deployed in the tokamak cluster
resources:
  - ../../../apps/vault/overlays/prod
  - ../../../apps/weave-gitops/overlays/prod
  - ../../../apps/authentik/overlays/prod
  - ../../../apps/cloudflared/overlays/prod
  - ../../../apps/nextcloud/overlays/prod
  - ../../../apps/snipeit/overlays/prod
  - ../../../apps/ingress-nginx/overlays/prod
  - ../../../apps/rancher/overlays/dev
  - ../../../apps/longhorn/overlays/prod
  - ../../../apps/tekton-operator/overlays/prod
  - ../../../apps/teamspeak/overlays/prod
  - ../../../apps/oauth2-proxy/overlays/prod
  - ../../../apps/mariadb-operator/crds
  - ../../../apps/mariadb-operator/base
  - ../../../apps/cloudnative-pg/base
  - ../../../apps/wg-portal/overlays/prod
  

  # include cluster apps instances
  # - instances only includes mariadb-prod which is archived

# Apply cluster-specific patches per app
patches:
  - path: weave-gitops.yaml
    target:
      kind: HelmRelease
      name: weave-gitops
      namespace: weave-gitops
    options:
      allowNameChange: false
      allowKindChange: false
  - path: vault.yaml
    target:
      kind: HelmRelease
      name: vault
      namespace: vault
    options:
      allowNameChange: false
      allowKindChange: false
  - path: authentik.yaml
    target:
      kind: HelmRelease
      name: authentik
      namespace: authentik
    options:
      allowNameChange: false
      allowKindChange: false
  - path: cloudflared.yaml
    target:
      kind: HelmRelease
      name: cloudflared
      namespace: cloudflared
    options:
      allowNameChange: false
      allowKindChange: false
  - path: nextcloud.yaml
    target:
      kind: HelmRelease
      name: nextcloud
      namespace: nextcloud
    options:
      allowNameChange: false
      allowKindChange: false
  - path: snipeit.yaml
    target:
      kind: HelmRelease
      name: snipe-it
      namespace: snipeit
    options:
      allowNameChange: false
      allowKindChange: false
  - path: ingress-nginx.yaml
    target:
      kind: HelmRelease
      name: nginx
      namespace: nginx
    options:
      allowNameChange: false
      allowKindChange: false
  - path: rancher.yaml
    target:
      kind: HelmRelease
      name: rancher
      namespace: cattle-system
    options:
      allowNameChange: false
      allowKindChange: false
  - path: teamspeak.yaml
    target:
      kind: HelmRelease
      name: teamspeak
      namespace: teamspeak
    options:
      allowNameChange: false
      allowKindChange: false
  - path: oauth2-proxy.yaml
    target:
      kind: HelmRelease
      name: oauth2-proxy
      namespace: oauth2-proxy
    options:
      allowNameChange: false
      allowKindChange: false
# # Cluster-specific patches
# patches:
#   # Update podinfo ingress with cluster domain
#   - patch: |
#       - op: replace
#         path: /spec/rules/0/host
#         value: podinfo.${cilium_domain}
#     target:
#       kind: Ingress
#       name: podinfo-cilium
#       namespace: podinfo

#   # Update weave-gitops ingress with cluster domain
#   - patch: |
#       - op: replace
#         path: /spec/rules/0/host
#         value: gitops.${cilium_domain}
#     target:
#       kind: Ingress
#       name: weave-gitops-cilium
#       namespace: weave-gitops
