---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snipe-it
  namespace: snipeit
spec:
  values:
    ingress:
      enabled: false
    podSecurityContext: 
      runAsUser: 100
      runAsGroup: 101
      fsGroup: 101
      fsGroupChangePolicy: "Always"
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    securityContext: 
      allowPrivilegeEscalation: false
      capabilities:
        drop: ["ALL"]