---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: authentik
spec:
  values:
    authentik:
      secret_key: "changeme"
      postgresql:
        password: "changeme"
    server:
      ingress:
        enabled: false
        ingressClassName: "changeme"
        pathType: Prefix
    global:
      securityContext:
        runAsNonRoot: true
        readOnlyRootFilesystem: true
        allowPrivilegeEscalation: false
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        seccomProfile:
          type: RuntimeDefault
        capabilities:
          drop:
            - ALL